header.header
  ._wrap.container
    ._top
      ._top-row.flex.justify-content-between.align-items-center
        a.logo(href="/")
          img(src="./img/logo.png", alt="")
        include ../../components/menu/menu
        ._phone
          a._phone-link(href="tel:8 900 000 00 00") 8 900 000 00 00
          p._phone-text задайте свой вопрос нам,<br>и мы обязательно поможем!
