mixin history-item(title, desc, img)
  .history__item
    .history__item-wrap.flex
      .history__item-img.pattern
        img(data-lazy=img, alt="")
      .history__item-content
        p.history__item-text= desc
        .arrows
          a.arrows__item.arrows__prev.history__nav-prev(href="#")
          h3.history__item-title= title
          a.arrows__item.arrows__next.history__nav-next(href="#")

section.history.section.section-not-bot
  ._info
    ._info-container.container
      ._info-text Наша миссия - возрождение любительского велоспорта и велокульт
  ._container.container
    ._slider
      +history-item('Как все начиналось...', '2017 – мы начали раскачивать тему вело. И, с мая 2017 г., при содействии Федерации велосипедного спорта Республики Татарстан, совместно с Министерством спорта РТ провели: 6 соревнований по велоспорту республиканского уровня, в дисциплинах: МТБ, кросс- кантри, гонки в гору, Два соревнования по триатлону: Кубка России и Кубка Федерации триатлона России (ФТР) по триатлону (дуатлон), 3 собственных спортивных вело- мероприятия для детей и взрослых. Да, да мы это сделали уже в первый же год.', './img/history1.jpg')
      +history-item('Впервые', 'Cпортсмены-призеры официальных соревнований по триатлону, велоспорту получали не только медали и грамоты, но и ценные призы от наших спонсоров. Впервые в социальной сети ВК начала свою жизнь группа Федерации велоспорта РТ.', './img/history2.jpg')
      +history-item('Февраль 2018 г.', 'Финал Кубка России и Кубка ФТР по зимнему триатлону. Командой проекта создан новый формат детских спортивных мероприятий. При поддержке Комитета физической культуры и спорта Исполкома г. Казани Первый выходной июня – Открытие, третья неделя сентября – Закрытие детского велосезона. Данный формат стал уже ежегодным.', './img/history3.jpg')
      +history-item('«МАШИНКИН»', 'В августе был создан новый проект для самых маленьких – Гонки на толокарах «МАШИНКИН» среди детей от 2 до 5 лет. На премьере участвовало более 25 маленьких спортсменов.', './img/history4.jpg')
      +history-item('Стремительное развитие', 'С 2018 г. ряд наших мероприятий включаются в календарный план города и становятся Официальными соревнованиями по велоспорту. В 2019 г. уже провели: Открытие Детского велосезона, Чемпионат Казани велоспорт шоссе. Очень много проектов готовим на следующий год.', './img/history5.jpg')