mixin history-item(title, desc, img)
  .history__item
    .history__item-wrap.flex
      .history__item-img.pattern
        img(data-lazy=img, alt="")
      .history__item-content
        p.history__item-text= desc
        .history__nav
          a.history__nav-item.history__nav-prev(href="#")
          h3.history__item-title= title
          a.history__nav-item.history__nav-next(href="#")

mixin history-dot(img)
  .history__dots-item
    img(data-lazy=img, alt="")

section.history.section.section-not-bot
  ._info
    ._info-container.container
      ._info-text Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod 
  ._container.container
    ._slider
      +history-item('история команды 2017', 'АНО «Центр организации спортивно-массовых мероприятий «СПОРТ БУДУЩЕГО», являясь представителем Федерации велоспорта РТ, активно развиваем любительский велоспорт и вело культуру в Казани. Команда проекта – единомышленники, профессионалы, влюбленные в велоспорт.', './img/history1.jpg')
      +history-item('история команды 2017', 'АНО «Центр организации спортивно-массовых мероприятий «СПОРТ БУДУЩЕГО», являясь представителем Федерации велоспорта РТ, активно развиваем любительский велоспорт и вело культуру в Казани. Команда проекта – единомышленники, профессионалы, влюбленные в велоспорт.', './img/history1.jpg')
      +history-item('история команды 2017', 'АНО «Центр организации спортивно-массовых мероприятий «СПОРТ БУДУЩЕГО», являясь представителем Федерации велоспорта РТ, активно развиваем любительский велоспорт и вело культуру в Казани. Команда проекта – единомышленники, профессионалы, влюбленные в велоспорт.', './img/history1.jpg')
      +history-item('история команды 2017', 'АНО «Центр организации спортивно-массовых мероприятий «СПОРТ БУДУЩЕГО», являясь представителем Федерации велоспорта РТ, активно развиваем любительский велоспорт и вело культуру в Казани. Команда проекта – единомышленники, профессионалы, влюбленные в велоспорт.', './img/history1.jpg')
      +history-item('история команды 2017', 'АНО «Центр организации спортивно-массовых мероприятий «СПОРТ БУДУЩЕГО», являясь представителем Федерации велоспорта РТ, активно развиваем любительский велоспорт и вело культуру в Казани. Команда проекта – единомышленники, профессионалы, влюбленные в велоспорт.', './img/history1.jpg')
      +history-item('история команды 2017', 'АНО «Центр организации спортивно-массовых мероприятий «СПОРТ БУДУЩЕГО», являясь представителем Федерации велоспорта РТ, активно развиваем любительский велоспорт и вело культуру в Казани. Команда проекта – единомышленники, профессионалы, влюбленные в велоспорт.', './img/history1.jpg')
    ._dots
      +history-dot('./img/history1.jpg')
      +history-dot('./img/history1.jpg')
      +history-dot('./img/history1.jpg')
      +history-dot('./img/history1.jpg')
      +history-dot('./img/history1.jpg')
      +history-dot('./img/history1.jpg')