mixin button(title, type, className, hrefVal='#', target='')
  if type == 'a'
    a.btn(href=hrefVal class=className target=target)
      span
        =title
  else 
    button.btn(class=className)
      span
        =title
    