include ../../components/section-title/section-title

.place.section.section-not-bot
  ._container.container
    ._wrap.flex
      ._col
        +section-title('Где проходит ', 'фестиваль')
        ._col-text.text-style
          p Казань Ринг, 15 сентября
          p площадка Казань-Арены, парковка P9
          p Начало фестиваля в 10:00
      ._col
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa419694a9d23dac79cbd9f1784be6ece4eef7de793e1537a7bc87fc2cc5de797&amp;source=constructor" width="100%" height="600" frameborder="0"></iframe>