main.main
	include ../section-top/section-top
	include ../about/about
	include ../info/info
	include ../history/history
	include ../partners/partners
	include ../events/events
	include ../numbers/numbers
	include ../reviews/reviews
	include ../place/place