include ../../components/section-title/section-title

mixin reviews-item(img)
  .reviews__item.col-p
    a(href=img).reviews__item-link
      img(src=img, alt="")

section.reviews.section.section-not-bot
  ._container.container
    +section-title('Отзывы ', 'участников')
    ._list.flex.row-p
      +reviews-item('./img/history1.jpg')
      +reviews-item('./img/history1.jpg')
      +reviews-item('./img/history1.jpg')
      +reviews-item('./img/history1.jpg')