include ../../components/button/button

section.section-top
  .__bg
    img.__bg-img(src='./img/section-top-bg.png')
  ._container.container
    ._wrap
      h2._title Спортивный фестиваль<br> <b>"Велосипед - это здорово!"</b><br>для детей от 2 до 14 лет
      p._text Приходи <b>15 сертября</b> на Казань Арену
      ._buttons
        ._buttons-row.flex.flex-column
          +button('Регистрация на фестиваль', 'a', 'btn-type1', 'http://velosport.chrono.zelbike.ru/')
      ._emblem
        p._emblem-text Фестиваль организован при поддержке:
        ._emblem-row.flex.align-items-center
          img(src="./img/emblem.png", alt="")
          img(src="./img/emblem2.png", alt="")





      
      