.info {
  &__item {
    width: 33.33%;
    @media screen and (max-width:$tablet) {
      width: 100%;
    }
    img {
      margin-bottom: 30px;
      @media screen and (max-width:$laptop-xl) {
        margin-bottom: 20px;
      }
      @media screen and (max-width:$tablet) {
        margin-bottom: 12px;
      }
      @media screen and (max-width:$mobile-xs) {
        width: 40px;
      }
    }
    &-title {
      @include title-item;
      margin-bottom: 30px;
      @media screen and (max-width:$laptop-xl) {
        margin-bottom: 20px;
      }
      @media screen and (max-width:$tablet) {
        margin-bottom: 12px;
      }
    }
    &-text {
      @include title-text;
      font-weight: 300;
      line-height: $line-height-text-t;
    }
  }
}