include ../../components/section-title/section-title

mixin info-item(title, desc, img)
  .info__item.col-p
    .info__item-wrap
      .info__item-img
        img(src=img, alt="")
      h3.info__item-title= title
      p.info__item-text= desc

section.info.section.section-blue
  ._container.container
    +section-title('О велоспорте ', 'с душой')
    ._list.flex.row-p 
      +info-item('Заголовок', 'С 2017 г. занимаемся возрождением массового велоспорта и развитием велокультуры в г. Казань. Активно работаем с Комитетом физической культуры и спорта Исполкома г. Казань и Министерством спорта Республики Татарстан.', '../img/icon-vel.png')
      +info-item('Заголовок', 'В 2018 г. по просьбе города, нами было организовано сопровождение, поддержка и техническая помощь коллегам из Казахстана, участникам вело Марафона Астана – Париж. ', '../img/icon-vel.png')
      +info-item('Заголовок', '16 незрячих ребят преодолели 5000 км на вело-тандемах в проекте «Спорт без границ».', '../img/icon-vel.png')
      